# 在这里填入您的火山引擎 (Ark) API Key
ARK_API_KEY=ark-1ea053ac-e70e-43bb-ba89-4ee55a46527f-d221e 

# 填入您在火山引擎控制台为对应模型创建的推理接入点 (Endpoint ID，通常以 ep- 开头)
ARK_TEXT_MODEL_ENDPOINT=ep-20260609181740-kcnqb
ARK_VIDEO_MODEL_ENDPOINT=ep-20260609181905-xc2vh

# 指定模型名称（其实示例文件中已经默认写好了）
ARK_TEXT_MODEL_NAME=Doubao-Seed-2.0-lite
ARK_VIDEO_MODEL_NAME=Doubao-Seedance-1.5-pro

# 注意：必须要将 MOCK 改为 false 才能真正调用大模型！如果是 true，后端只会返回假数据。
ARK_MOCK=false